Package: com.atar13.houdini
Version: 1.2
Architecture: iphoneos-arm
Maintainer: atar13 <atar13dev@gmail.com>
Depends: mobilesubstrate, preferenceloader, ws.hbang.common
Filename: ./debs/com.atar13.houdini_1.2_iphoneos-arm.deb
Section: Tweaks
Description: Hides the lock screen clock until the user manually taps the screen.
Author: atar13 <atar13dev@gmail.com>
Depiction: https://atar13.github.io/depictions/?p=com.atar13.houdini
Icon: https://atar13.github.io/package_icons/houdini.png
Name: Houdini