<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Respring is needed for some settings</string>
			<key>footerAlignment</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.atar13.houdiniprefs</string>
			<key>key</key>
			<string>isEnabled</string>
			<key>label</key>
			<string>Enabled</string>
			<key>PostNotification</key>
			<string>com.atar13.houdiniprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>label</key>
			<string>User Interaction Mode</string>
			<key>key</key>
			<string>userInteractionMode</string>
			<key>default</key>
			<string>tap</string>
			<key>defaults</key>
			<string>com.atar13.houdiniprefs</string>
			<key>validTitles</key>
			<array>
				<string>Tap</string>
				<string>Long Press</string>
			</array>
			<key>validValues</key>
			<array>
				<string>tap</string>
				<string>longPress</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>isController</key>
			<true/>
			<key>overridePrincipalClass</key>
			<true/>
			<key>label</key>
			<string>Tap Configuration</string>
			<key>detail</key>
			<string>TapModeController</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>isController</key>
			<true/>
			<key>overridePrincipalClass</key>
			<true/>
			<key>label</key>
			<string>Long Press Configuration</string>
			<key>detail</key>
			<string>LongPressModeController</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Automatic mode display timeout (seconds)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0.5</real>
			<key>min</key>
			<real>0.1</real>
			<key>max</key>
			<real>10</real>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<false/>
			<key>defaults</key>
			<string>com.atar13.houdiniprefs</string>
			<key>key</key>
			<string>clockDisplayDuration</string>
			<key>PostNotification</key>
			<string>com.atar13.houdiniprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Additional Settings</string>
			<key>footerText</key>
			<string>Hides all lock screen elements that normally hide upon tap/hold</string>
			<key>footerAlignment</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.atar13.houdiniprefs</string>
			<key>key</key>
			<string>isHideOnScreenLockEnabled</string>
			<key>label</key>
			<string>Hide on Screen Lock</string>
			<key>PostNotification</key>
			<string>com.atar13.houdiniprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.atar13.houdiniprefs</string>
			<key>key</key>
			<string>hideOnRespring</string>
			<key>label</key>
			<string>Hide after respring</string>
			<key>PostNotification</key>
			<string>com.atar13.houdiniprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Also hides complications from the tweak Complications</string>
			<key>footerAlignment</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.atar13.houdiniprefs</string>
			<key>key</key>
			<string>isHideNotificationsEnabled</string>
			<key>label</key>
			<string>Hide Notifications and Media Player</string>
			<key>PostNotification</key>
			<string>com.atar13.houdiniprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Only hide quick actions and FaceID lock on iPhone X and higher</string>
			<key>footerAlignment</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.atar13.houdiniprefs</string>
			<key>key</key>
			<string>isHideUnlockTextEnabled</string>
			<key>label</key>
			<string>Hide Unlock Text</string>
			<key>PostNotification</key>
			<string>com.atar13.houdiniprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.atar13.houdiniprefs</string>
			<key>key</key>
			<string>isHideQuickActionsEnabled</string>
			<key>label</key>
			<string>Hide Quick Action Toggles</string>
			<key>PostNotification</key>
			<string>com.atar13.houdiniprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.atar13.houdiniprefs</string>
			<key>key</key>
			<string>isHideFaceIDEnabled</string>
			<key>label</key>
			<string>Hide FaceID Lock</string>
			<key>PostNotification</key>
			<string>com.atar13.houdiniprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Contact</string>
		</dict>
		<dict>
    		<key>big</key>
   			 <true/>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>height</key>
			<integer>56</integer>
			<key>label</key>
			<string>Anthony Tarbinian</string>
			<key>user</key>
			<string>atar137h</string>
			<key>action</key>
			<string>twitter</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Reddit</string>
			<key>action</key>
			<string>reddit</string>
			<key>icon</key>
			<string>redditIcon</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Email</string>
			<key>action</key>
			<string>email</string>
			<key>icon</key>
			<string>emailIcon</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Source Code</string>
			<key>action</key>
			<string>github</string>
			<key>icon</key>
			<string>githubIcon</string>
		</dict>
	</array>
	<key>title</key>
	<string>Houdini</string>
</dict>
</plist>